# Byte compiled files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution/Packaging
.Python
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# SQLite
*.sqlite3



# PyCharm
.idea/

# Git
.git/
