{% extends "header.html" %}
{% block content %}
	<div class="content-header">
		<h3>Contact</h3>
	</div>

	<div class="content-body">
        <div class="contact-method">
            <span id="github-title">
                <img id="github-image" src="{{ url_for('static', filename='image/GitHub-Mark-Light-32px.png') }}" alt="Github">
            </span>
            <span>
                <a href="https://github.com/JHadley1406" target="_blank">&nbsp;https://github.com/JHadley1406</a>
            </span>
        </div>
        <div class="contact-method">
            <a href="https://www.linkedin.com/pub/josiah-hadley/3/5a1/959" target="_blank">
                <span id="linkedin-link">
                    <img id="linkedin-image" src="https://static.licdn.com/scds/common/u/img/webpromo/btn_in_20x15.png"  alt="View My LinkedIn profile" >
                    &nbsp;View My profile
                </span>
            </a>
        </div>
        <div class="contact-method">
            <span id="email-title">
                <img id="email-icon" src="{{ url_for('static', filename='image/Gmail-icon.png') }}" alt="G-Mail">
            </span>
            <span>
                <a href="mailto:josiah.hadley@gmail.com" target="_blank">&nbsp;josiah.hadley@gmail.com</a>
            </span>
        </div>
    </div>
{% endblock %}